* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: end;
    background: linear-gradient(45deg, rgb(182, 0, 173) 0%, rgb(112, 28, 191) 100%);
}
.to-buttons {
    margin-bottom: 5rem;
    border: none;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5%;
    cursor: pointer;
    -webkit-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
}
.to-buttons:hover {
    background-color: rgb(30, 30, 30);
}
.to-buttons:active {
    background-color: rgb(84, 84, 84);
}
.glow-point {
    position: absolute;
    height: 0rem;
    width: 0rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgb(75, 249, 255);
    pointer-events: none;
}
.star {
    position: absolute;
    height: 2rem;
    aspect-ratio: 1 / 1;
    pointer-events: none;
}
div {
    height: 15rem;
    width: 15rem;
    background-color: rgb(19, 203, 224);
    color: white;
}
.star-shape {
    background-color: white;
}
@keyframes fall1 {
    0% {
        opacity: 0;
        transform: translate(0, 0)
        rotateX(0)
        rotateY(0)
        rotateZ(0)
        scale(0.6);
    }
    10% {
        opacity: 100;
        transform: translate(0rem, 0rem)
        rotateX(0)
        rotateY(0)
        rotateZ(0);
    }
    100% {
        opacity: 0;
        transform: 
        translate(0, 9rem)
        rotateX(80deg)
        rotateY(160deg)
        scale(1); 
    }
}
@keyframes fall2 {
    0% {
        opacity: 0;
        transform: translate(0, 0)
        rotateX(0)
        rotateY(0)
        rotateZ(0)
        scale(1); 
    }
    10% {
        opacity: 100;
        transform: translate(0rem, 0rem)
        rotateX(0)
        rotateY(0)
        rotateZ(0);
    }
    100% {
        opacity: 0;
        transform: 
        translate(0, 9rem)
        rotateZ(140deg)
        rotateY(90deg)
        scale(0.6); 
    }
}
@keyframes fall3 {
    0% {
        opacity: 0;
        transform: translate(0, 0)
        rotateX(0)
        rotateY(0)
        rotateZ(0)
        scale(1); 
    }
    10% {
        opacity: 100;
        transform: translate(0rem, 0rem)
        rotateX(0)
        rotateY(0)
        rotateZ(0);
    }
    100% {
        opacity: 0;
        transform: 
        translate(0, 9rem)
        rotateX(180deg)
        rotateY(30deg)
        rotateZ(50deg)
        scale(1.2); 
    }
}